@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&display=swap");

body {
    background-color: hsl(225, 20.9%, 26.3%);
    user-select: none;
}

#main {
    margin: 0 auto;
    width: 60%;
    font-family: "IM Fell Great Primer", serif;
    font-size: 6em;
    color: hsl(225, 20.9%, 33%);
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);

    animation: fadeInAnimation ease 600ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
